# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\anoChapter12\library_management\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
