# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\module_create\Member_Manager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
